# Database (Neon)
DATABASE_URL="postgres://user:password@ep-cool-site-123.aws.neon.tech/neondb?sslmode=require"

# Admin Security
ADMIN_PASSWORD="ChangeThisToStrongPassword123!"

# Email (Nodemailer / Gmail)
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password-here"
EMAIL_TO="contracts@elitecleangroup.com"